# First steps
We are going to look at some data first
## Data loading

In [9]:
import pandas as pd
import plotly.express as maria
url = "fifa_players.csv"
df = pd.read_csv(url)
print(df.head())
df.head()
df['age'].mean()
df['age'].std()
df.describe()

           name                       full_name birth_date  age  height_cm  \
0      L. Messi  Lionel Andr√©s Messi Cuccittini  6/24/1987   31     170.18
1    C. Eriksen    Christian  Dannemann Eriksen  2/14/1992   27     154.94
2      P. Pogba                      Paul Pogba  3/15/1993   25     190.50
3    L. Insigne                 Lorenzo Insigne   6/4/1991   27     162.56
4  K. Koulibaly               Kalidou Koulibaly  6/20/1991   27     187.96

   weight_kgs  positions nationality  overall_rating  potential  ...  \
0        72.1   CF,RW,ST   Argentina              94         94  ...
1        76.2  CAM,RM,CM     Denmark              88         89  ...
2        83.9     CM,CAM      France              88         91  ...
3        59.0      LW,ST       Italy              88         88  ...
4        88.9         CB     Senegal              88         91  ...

   long_shots  aggression interceptions  positioning  vision  penalties  \
0          94          48            22           94      94         75
1          89          46            56           84      91         67
2          82          78            64           82      88         82
3          84          34            26           83      87         61
4          15          87            88           24      49         33

  composure  marking standing_tackle  sliding_tackle
0        96       33              28              26
1        88       59              57              22
2        87       63              67              67
3        83       51              24              22
4        80       91              88              87

[5 rows x 51 columns]

,age,height_cm,weight_kgs,overall_rating,potential,value_euro,wage_euro,international_reputation(1-5),weak_foot(1-5),skill_moves(1-5),...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
count,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,1.769900e+04,17708.000000,17954.000000,17954.000000,17954.000000,...,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000
mean,25.565445,174.946921,75.301047,66.240169,71.430935,2.479280e+06,9902.134628,1.111674,2.945695,2.361034,...,46.852456,55.816531,46.657959,49.857302,53.406260,48.357302,58.680183,47.162861,47.733040,45.705915
std,4.705708,14.029449,7.083684,6.963730,6.131339,5.687014e+06,21995.593750,0.392168,0.663691,0.763223,...,19.429337,17.394047,20.754649,19.694311,14.156038,15.810844,11.625541,20.037346,21.674973,21.285812
min,17.000000,152.400000,49.900000,47.000000,48.000000,1.000000e+04,1000.000000,1.000000,1.000000,1.000000,...,3.000000,11.000000,3.000000,2.000000,10.000000,5.000000,12.000000,3.000000,2.000000,3.000000
25%,22.000000,154.940000,69.900000,62.000000,67.000000,3.250000e+05,1000.000000,1.000000,3.000000,2.000000,...,32.000000,44.000000,26.000000,38.000000,44.000000,38.000000,51.000000,30.000000,27.000000,24.000000
50%,25.000000,175.260000,74.800000,66.000000,71.000000,7.000000e+05,3000.000000,1.000000,3.000000,2.000000,...,51.000000,59.000000,52.000000,55.000000,55.000000,49.000000,60.000000,52.500000,55.000000,52.000000
75%,29.000000,185.420000,79.800000,71.000000,75.000000,2.100000e+06,9000.000000,1.000000,3.000000,3.000000,...,62.000000,69.000000,64.000000,64.000000,64.000000,60.000000,67.000000,64.000000,66.000000,64.000000
max,46.000000,205.740000,110.200000,94.000000,95.000000,1.105000e+08,565000.000000,5.000000,5.000000,5.000000,...,94.000000,95.000000,92.000000,95.000000,94.000000,92.000000,96.000000,94.000000,93.000000,90.000000

In [ ]:
df['age'] = pd.to_numeric(df['age'],errors='coerce') #makes ages numeric

#Drops rows with missing numbers in age